!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "favicon.png", rel: "shortcut icon"}/
    %title Starter Template for Bootstrap
    / Bootstrap core CSS
    %link{href: "bootstrap-3.0.0/css/bootstrap.css", rel: "stylesheet"}/
    / Custom styles for this template
    %link{href: "basic.css", rel: "stylesheet"}/
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} Project name
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            -nav.each do |name, url|
              %li.active
                %a{href: "#{url}"}
                  = name
        / /.nav-collapse
    .container
      .starter-template
        %div= yield

    / /.container
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{src: "jquery-1.10.2.min.js"}
    %script{src: "bootstrap-3.0.0/js/bootstrap.min.js"}
